<div class="container mt-5">
  <h3>Menu</h3>
  <div class="row mt-5">
    <div class="col-6" style="display: flex;">
      <%= link_to "Exercício 1", roman_numerals_path, class: "btn btn-primary mx-1", style: "float: right;" %>      
      <%= link_to "Exercício 2", properties_path, class: "btn btn-primary mx-5", style: "float: right;" %>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mb-5" style="display: flex;">
      <p><small><em>Numeral Romano</em></small></p>
      &nbsp
      <p class="mx-5"><small><em>CRUD de Propriedades</em></small></p>
    </div>
  </div>
</div>